<foreach name="res" item="orderForm">
<div class="panel panel-default order-list">
    <div class="panel-heading">
        <div id="orderId" data-order-id="{$orderForm.id}">订单号：{$orderForm.id}</div>
        <div id="orderState">
            <eq name="orderForm.order_status" value="0">待付款</eq>
            <eq name="orderForm.order_status" value="1">待发货</eq>
            <eq name="orderForm.order_status" value="2">待收货</eq>
            <eq name="orderForm.order_status" value="3">已完成</eq>
        </div>
        <div class="clr"></div>
    </div>
  <div class="panel-body">
      
          
          
      <table width="100%" class="table">
                <foreach name="orderForm['goods']" item="orderGoods">
                  <tr class="order-goods-row">
                      <td width="30%"><img class="thumbnail" src="" /></td>
                      <td width="50%" >{$orderGoods.goods_name}</td>
                      <td width="20%" class="price-num"><div class="order-goods-price">￥{$orderGoods.price}</div><div class="order-goods-num">X{$orderGoods.quantity}</div></td>
                  </tr>
                </foreach>  
      </table>
      <div class="del-button-box">
          <span class="total">合计：￥{$orderForm.total_prices}</span>
            <eq name="orderForm.order_status" value="0"><button class="btn btn-default">取消订单</button></eq>
            <eq name="orderForm.order_status" value="3"><button class="btn btn-default">删除订单</button></eq>
            <eq name="orderForm.order_status" value="2"><button class="btn btn-default">确认收货</button></eq>
      </div>
  </div>
</div>
</foreach>