<div>统计周期：{$beginTime|date="Y年m月d日 H:i",###}&nbsp;&nbsp;至&nbsp;&nbsp;{$endTime | date="Y年m月d日 H:i",###}</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="head">
            <th>昵称</th>
            <th>手机号</th>
            <th>直销业绩</th>
            <th>直销佣金</th>
            <th>直销系数</th>
            <th>下线业绩</th>
            <th>下线佣金</th>
            <th>下线系数</th>
            <th>应发佣金</th>
        </tr>
    </thead>
    <tbody>
        <foreach name="data" item="value" key="key">
        <tr>
            <td>{$value._customer_id.nickname}</td>
            <td>{$value._customer_id.phone_number}</td>
            <td style="text-align:right"><php>echo format_money($value['totalGoodsFee']);</php></td>
            <td style="text-align:right"><php>echo format_money($value['totalDirectFee']);</php></td>
            <td>{$value._totalGoodsFee_rebate.direct_ratio}</td>
            <td style="text-align:right"><php>echo format_money($value['lineTotalGoodsFee']);</php></td>
            <td style="text-align:right"><php>echo format_money($value['lineTotalLineFee']);</php></td>
            <td>{$value._lineTotalGoodsFee_rebate.line_ratio}</td>
            <td style="text-align:right"><php>echo format_money($value['commission']);</php></td>
        </tr>
            </foreach>
    </tbody>
</table>
<div class="pagination">{$page}</div>
<div class="js off">
    {$js}
</div>