
<h4>查看历史业绩</h4>
<table class="table table-bordered table-striped table-hover">
    <tr>
    <th>序号</th>
    <th>描述</th>
    <th>开始时间</th>
    <th>结束时间</th>
    </tr>
    <foreach name="data" item="value">
    <tr class="">
        <td>{$value.id}</td> 
        <td><a href="{$value.actionUrl.viewUrl}">{$value.describe}</a></td> 
        <td>{$value.begin_time|date='Y-m-d',###}</td> 
        <td>{$value.end_time|date='Y-m-d',###}</td> 

    </tr>
    </foreach>
</table>
<div class="pagination">{$page}</div>
