<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" ></script> 
<script>   
    wx.config({
    debug: true,
    appId: '{$signPackage.appId}',
    timestamp: {$signPackage.timestamp},
    nonceStr: '{$signPackage.nonceStr}',
    signature: '{$signPackage.signature}',
    jsApiList: [
        'chooseImage',
        'previewImage',
        'uploadImage',
        ]
    });
    //收货地址调用
    /*
     * 详细文档请参考微信官方“收货地址共享接口文档V1.6”
     * 返回值:
     * errmsg   edit_address:ok获取成功 edit_address:fail 获取失败
     * userName 收货人姓名
     * telNumber 收货人电话
     * addressPostalCode 邮编
     * proviceFirstStageName 国标收化地址第一级地址
     * addressCitySecondStageName 国标收货地址第二级地址
     * addressCountiesThirdStageName 国标三级地址
     * addressDetailInfo 详细收化地址信息
     * nationalCode 收货地址国家码
     */
    function selectAdress() 
    {
        WeixinJSBridge.invoke(
                'editAddress',
                {
                    "appId" : "{$addressPackage.appId}",
                    "scope" : "{$addressPackage.scope}",
                    "signType" : "{$addressPackage.signType}",
                    "addrSign" : "{$addressPackage.addrSign}",
                    "timeStamp" : "{$addressPackage.timeStamp}",
                    "nonceStr" : "{$addressPackage.nonceStr}",
                },
                function(res){
                    if(res.err_msg == "edit_address:ok")
                    {
                        $("#picName").text(res.userName);
                        $("#picPhone").text(res.telNumber);
                        $("#picAddress").text(res.proviceFirstStageName+res.addressCitySecondStageName+res.addressCountiesThirdStageName+res.addressDetailInfo+"("+res.addressPostalCode+")");
                    }
                }
        );
    };
    
//选择图片并上传，同时将图片的回调地址存入至数组中
  var idcardPics = new Array();//声明为全局变量
  idcardPics["fontPic"] = "";
  idcardPics["backPic"] = "";
  function chooseImage($this)
  {
      var id = $this.attr("id");
      wx.chooseImage({
        success:function($res){
            if($res.errMsg == "chooseImage:ok")
            {
                var localIds = $res.localIds;
                //添加蒙板，提示用户图片正在上传
                wx.uploadImage({
                    localId:localIds[0],
                    isShowProgressTips:1,
                    success:function (res)
                    {
                        if(res.errMsg == 'uploadImage:ok')
                        {
                            var serverId = res.serverId; 
                            idcardPics[id] = serverId;
                            $this.attr("src",localIds[0]); 
                        }
                        else
                        {
                            alert('图片上传失败,请重试');
                        }
                    }
                });
            }       
        }
    });
  };
    
    
//    //微信jssdk配置信息
//    
//    //微信浏览器事件准备好后自动触发事件
//    //用于检测用户微信版本
//    wx.ready(function () {
//        //检测是否支持各接口
//      wx.checkJsApi({
//          jsApiList:['chooseImage'],
//          success:function(res){
//              if(res.checkResult.chooseImage == false)
//              {
//                  alert("您的微信版本过低，请升级微信版本后重试。");
//                  $("#orderSubmit").hide();
//              }
//              else
//              {
//
//              }
//          }
//      });
//    });
function submit()
{
    //选进行N个判断,不符合alert的同时，返回false
    if()
    {
        alert();
        return false;
    }
    //最后进行字符串拼接
    //商品和数量涉及到数组，用“-”拼接
    var url = "{$updateUrl}"+"?id=&address=&youhuquan=";
    location.href= url;
}
</script>