<xml>
    <ToUserName><![CDATA[{$toUserName}]]></ToUserName>
    <FromUserName><![CDATA[{$fromUserName}]]></FromUserName>
    <CreateTime><?=time()=></CreateTime>
    <MsgType><![CDATA[news]]></MsgType>
    <ArticleCount><?php count($article)?></ArticleCount>
    <Articles>
        <foreach name="article" item="value" key="key">
        <item>
            <Title><![CDATA[{$value.title}]]></Title> 
            <Description><![CDATA[{$value.description}]]></description1Description>
            <PicUrl><![CDATA[{$value.picurl}]]></PicUrl>
            <Url><![CDATA[{$value.url}]]></Url>
        </item>
        </foreach>
    </Articles>
</xml>