<xml><appid><![CDATA[wx15a60486abf8f053]]></appid>
<bank_type><![CDATA[ICBC_DEBIT]]></bank_type>
<cash_fee><![CDATA[1]]></cash_fee>
<fee_type><![CDATA[CNY]]></fee_type>
<is_subscribe><![CDATA[Y]]></is_subscribe>
<mch_id><![CDATA[1236255202]]></mch_id>
<nonce_str><![CDATA[8lflga5kvmnrf6osqupp4pbmxpbwoptr]]></nonce_str>
<openid><![CDATA[oZuoxt8tnEUUf6YPBG-mNPYjoKQA]]></openid>
<out_trade_no><![CDATA[25]]></out_trade_no>
<result_code><![CDATA[SUCCESS]]></result_code>
<return_code><![CDATA[SUCCESS]]></return_code>
<sign><![CDATA[CBB284D00A699AE70FCBDCCA785AD2A4]]></sign>
<time_end><![CDATA[20150507133714]]></time_end>
<total_fee>1</total_fee>
<trade_type><![CDATA[JSAPI]]></trade_type>
<transaction_id><![CDATA[1002420415201505070114137825]]></transaction_id>
</xml>

INSERT INTO wemall.wemall_order_relation (id, creat_time, payable, out_of_pocket, pay_type, remark, appid, mch_id, result_code, err_code, err_code_des, openid, trade_type, bank_type, total_fee, fee_type, cash_fee, cash_fee_type, transaction_id, out_trade_no, time_end, prepay_id, body, payment_number, payment_serialnumber) 
	VALUES ('25', 0, 1, 0, 0, '', 'wx15a60486abf8f053', '1236255202', '', '', '', 'oZuoxt2Y3osCweYYA2H-lfcdtgaQ', '', '', 2, '', 0, '', '', '', '', '', 'test', '123', '12345');
