<style>
    .lable{
       float:left;width: 90px;padding-top: 8px;
    }
    .input{
        width: 100px;
    }
    ul li {
        margin-top: 10px;
    }
    .submit{
        margin-left: 50px;margin-right: 20px;margin-top: 20px;width: 60px;height: 40px;text-align: center;background-color: #ff3300;font-size: 1.5em;
    }
    .huoqu{
        width: 80px;height: 20px;text-align: center;margin-left: 5px;background-color:   #99ccff
    }
    .form1{
        margin-top: 100px;
    }
    section{
        margin-top: 6em;
        margin-bottom: 6em;
    }
</style>