<script type="text/javascript">    
    var countdownInit=60;
    var countdown;
    var openid = "{$openid}";
    $(document).ready(function(){
        $("#phone").focus();
        $("#submit").removeAttr("disabled");
    });
    $('#submit').click(function()
    {		
        var phone = $('#new_phone').val();	
        var new_code = $("#new_code").val();
        var old_code = $("#old_code").val();
        
        if(new_code == '')
        {
            alert("请输入验证码");
            return false;
        }
        if(old_code == '')
        {
            alert("请输入验证码");
            return false;
        }
        if(checkMobile(phone) == false)
        {
            alert("手机格式有误");
            return false;
        }
        $(this).attr("disabled","disabled");
        var url = "{$changeUrl}?newphone="+phone+"&newcode="+new_code+"&oldcode="+old_code+"&openid="+openid;
        $.get(url,
        function(data){
            if(data == 'success')
            {
                alert("修改成功");
                var gotoUrl = "{$gotoUrl}";
                location=gotoUrl;
            }
            else
            {
                alert(data);
                $('#submit').removeAttr("disabled");
            }
        });
          
    });	

/*
 * 较验手机号
 */
    function checkMobile(str) {
        var reg =/^(13[0-9]{9})|(15[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(18[0-9]{9})$/
        if (reg.test(str) === false) {
            return false;
        }
        else
        {
            return true;
        }
    }
    
    $(function(){		
		$("#mask_close").click(function(){
			$("#mask").hide();
			$("#mask_alarm").hide();
			$("input:not(#P_Birthday)").removeAttr('readonly');
		});
	});
	
	function error_show(){
		$('.popupbox').css({top:'50%',left:'50%',margin:'-'+($('.popupbox').outerHeight()/2)+'px 0 0 -'+($('.popupbox').outerWidth()/2)+'px'});
		$(".scrmask").css({height:$(document).height()});
		$(".scrmask2").css({height:$(document).height()});
		$("#mask").show();
		$("#mask_alarm").show();
	}
        
	function sele_change(obj){
		var val=$(obj).val();
		$(".work_beginyear").find("h4").text(val+'年');

	}
        
    function sendNewMsg($this){
        var phone = $("#new_phone").val();
        if(!checkMobile(phone))
        {
            alert("手机号码格式有误");
            $("#phone").focus();
            return false;
        }
        $this.attr("disabled","disabled");
        countdown = countdownInit;  
        var url = "{$newSend}?openid="+openid+"&phone="+phone;
        $.get(url,
        function(data){
            if(data == 'success')
            {
                alert("发送成功，请查收");
            }
            else
            {
                alert("验证码未成功发送，错误码："+data);
            }
            
        }); 
        setnewTime();
     }
     
     function sendOldMsg($this){
        var phone = $("#old_phone").val();
        if(!checkMobile(phone))
        {
            alert("手机号码格式有误");
            $("#phone").focus();
            return false;
        }

        $this.attr("disabled","disabled");
        countdown = countdownInit;  

        var url = "{$oldSend}?openid="+openid+"&phone="+phone;
        $.get(url,
        function(data){
            if(data == 'success')
            {
                alert("发送成功，请查收");
            }
            else
            {
                alert("验证码未成功发送，错误码："+data);
            }
            
        }); 
        setoldTime();
     }
     
     function setnewTime(){ 
         if (countdown === 0) { 
                $("#newmessage").removeAttr("disabled");    
                $("#newmessage").html("重新获取");
            }else{
                $("#newmessage").html("重新发送(" + countdown + ")");
                countdown--; 
                setTimeout(function(){setnewTime()},1000);
            }
     }
     function setoldTime(){ 
         if (countdown === 0) { 
                $("#oldmessage").removeAttr("disabled");    
                $("#oldmessage").html("重新获取");
            }else{
                $("#oldmessage").html("重新发送(" + countdown + ")");
                countdown--; 
                setTimeout(function(){setoldTime()},1000);
            }
     }
</script> 