<form id="goodsAddForm" class="form-horizontal" name="goodsAddForm" method="post" action="{$GoodsList.actionUrl.update}" enctype="multipart/form-data" target="id_iframe" />
    <fieldset>
    <legend>老用户</legend>
    <input type="hidden" name="id" value="{$GoodsList['id']}"/>
    <div class="control-group">
        <label class="control-label" for="name">数量</label>
        <div class="controls">
        <input type="text" name='name' id="name" value="{$GoodsList.name}" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="phpto">金额</label>
        <div class="controls">
            <input type="text" name='name' id="name" value="{$GoodsList.name}" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">有效期</label>
        <div class="controls">
            <input type="text" name='name' id="name" value="{$GoodsList.name}" >
        </div>
    </div>
</fieldset>
</form>
<form id="goodsAddForm" class="form-horizontal" name="goodsAddForm" method="post" action="{$GoodsList.actionUrl.update}" enctype="multipart/form-data" target="id_iframe" />
    <fieldset>
    <legend>老用户</legend>
    <input type="hidden" name="id" value="{$GoodsList['id']}"/>
    <div class="control-group">
        <label class="control-label" for="name">数量</label>
        <div class="controls">
        <input type="text" name='name' id="name" value="{$GoodsList.name}" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="phpto">金额</label>
        <div class="controls">
            <input type="text" name='name' id="name" value="{$GoodsList.name}" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">有效期</label>
        <div class="controls">
            <input type="text" name='name' id="name" value="{$GoodsList.name}" >
        </div>
    </div>
    <div class="form-actions">
        <button onclick="save()" class="btn btn-primary">保存</button> <button class="btn">取消</button>
    </div>
</fieldset>
</form>
