<script type="text/javascript">
        document.write('<div id="global_loading" style="width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: #eee;z-index:999"><div style="width: 100px;height: 75px;margin:auto;top:50%;position:relative"><span style="display:block;float:left;width:32px;height:32px;background:url(/images/spacer.gif);margin-top:-5px;"></span>&nbsp;&nbsp;加载中...</div></div>');
</script>
<section>
<div class="container-fluid">
    <form name="formPassword" action="user.php?act=act_edit_password" method="post" >
        <div class="row">
            <div class="col-xs-4">
                请输入手机号:
            </div>
            <div class="col-xs-8">
                <input class="input" type="text" name="" id="new_password"/>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-large btn-block btn-warning" type="button" id="btn">保存修改</button>
        </div>
    </form>
</div>
</section>
	<script type="text/javascript">
</script>
<script type="text/javascript">
		var global_loading=document.getElementById("global_loading");
		global_loading.parentNode.removeChild(global_loading);
</script>
<style>
    
</style>