<nav class="navbar navbar-default navbar-fixed-bottom text-center vertical-middle-sm footer" role="navigation">
        <div class="col-xs-4"><a href="{$indexUrl}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br /><span class="glyphicon-class">首页</span></a></div>
        <div  class="col-xs-4"><a href="{$shoppingCartUrl}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><br /><span class="glyphicon-class">购物车</span></a></div>
        <div  class="col-xs-4"><a href="{$userCenterUrl}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br /><span class="glyphicon-class">个人中心</span></a></div>
</nav>