<div class="header">
    <div class="left"> <a href="index.php" class="home"> <span>众筹海淘</span> </a> </div>
    <div class="tit">
    <h2> <span class="title"> </span> </h2>
    </div>
    <div class="right">
    <ul>
      <li class="user"> <a href="{$userCenterUrl}" title="个人中心"> <span class="ico"> </span> </a> </li>
      <li class="cart"> <a href="{$shoppingCartUrl}" title="购物车"> <span class="ico"> </span> <span id="ShoppingCartNum" class="tip hide"> </span> </a> </li>
    </ul>
    </div>
</div>