<ul class="footer-menu-box">
    <li class="footer-menu"><a class="footer-menu-btn on" href="#"><span class="glyphicon glyphicon-home menu-icon" aria-hidden="true"></span></a></li>
    <li class="footer-menu"><a class="footer-menu-btn" href="#"><span class="glyphicon glyphicon-shopping-cart menu-icon" aria-hidden="true"></span></a></li>
    <li class="footer-menu"><a class="footer-menu-btn" href="#"><span class="glyphicon glyphicon-user menu-icon" aria-hidden="true"></span></a></li>
    <li class="clr off"></li>
</ul>