<h4>
    <a onclick="#" href="{$urlAdd}">添加新返点</a>
</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
	<tr>
            <th>销售业绩(元)</th>
                <th>直销系数 </th>                                                
                <th>操作</th>                                                
	</tr>						
    </thead>
    <tbody>
        <foreach name="rebate" item="value" key="key">
	<tr>
            <td style='text-align: right'><php>echo format_money($value['top_money']);</php></td>
            <td>{$value.direct_ratio}</td>
            <td>
                <a onclick="#" href="{$value.actionUrl.edit}">
                    <button class="btn btn-mini btn-primary" type="button">                                            
                        修改
                    </button>
                </a>                                            
                <a onclick="#" href="{$value.actionUrl.delete}">
                    <button class="btn btn-mini btn-danger" type="button">
                        删除
                    </button>
                </a>
            </td>
        </tr>
        </foreach>
    </tbody>                                            
