<div class="addressEdit">
    <input type="hidden" name="type" id="type" value="" />
    <div>收货人姓名<input type="text" name="name" id="name" /></div>
    <div>收货人手机号<input type="text" name="name" id="phone"/></div>
    <div>详细地址<input type="text" name="address_detail" id="address_detail" /></div>
    <div>身份证号码<input type="text" name="id_no" id="id_no" /></div>
    <div>身份证正面图片<button>请点击上传</button></div>
    <div>身份证反面图片<button>请点击上传</button></div>
    <div><button>保存</button><button>取消</button></div>
</div>