<div id="content">
    <div class="address">
        <ul>
            <li>
                <div class="ico choose"></div>
                <div>
                    <div class="name"></div>
                    <div class="addressDetail"></div>
                </div>
                <div></div>
            </li>
            <li>
                <div class="ico add"></div>
                <div>新增地址</div>
                <div class="goEdit"></div>
            </li>
        </ul>
    </div>
</div>