    
    <table class="content">
        <tr class="head">
            <td>姓名</td>
            <td>账号</td>
            <td>流水号</td>
            <td>手机号</td>
            <td>直销业绩</td>
            <td>直销提成基数</td>
            <td>直销提成系数</td>
            <td>分销业绩</td>
            <td>分销提成基数</td>
            <td>分销提成</td>
            <td>应发提成</td>
            <td>实发</td>
            <td>备注</td>
        </tr>
        <tr>
            <td>张三</td>
            <td>zhangsan</td>
            <td>123123</td>
            <td>18922222222</td>
            <td>111</td>
            <td>10000</td>
            <td>0.5</td>
            <td>1000</td>
            <td>0.5</td>
            <td>500</td>
            <td>10000</td>
            <td>10000</td>
            <td>备注</td>
        </tr>
    </table>