<style>
    *{color: #000;}
    .detail-back a{color: #000;}
    .detail-back{display: inline-block;height: 100%;width: 10%;font-size: 18px;text-align: center;}
    .detail-head{ max-height: 3.5em;width: 100%;line-height: 3em;background-color: #fbfbfb; border-bottom: 1px #f2f2f2 solid;}
    .detail-title{width: 78%; height: 100%; text-align: center;display: inline-block;}
/*    头部样式结束*/
/*导航样式开始*/
    .order-nav{float: left; width: 20%;font-size: 1em; line-height: 2em;list-style: none;border:0px;text-align: center;color: #000;}
    .order-nav a{display: block;text-align: center;}
    .order-nav-row{background-color: #fff;margin-bottom: 10px;}
    .current{color: #FF4400;border-bottom: 2px #FF4400 solid;font-weight: bold}
    .on {color: #FF4400;}
/* 订单列表   */
    .order-list{width: 99%;margin-left: auto;margin-right: auto}
    #orderId{float: left;}
    #orderState{float: right;}
    .order-goods-price{color: #F92672;font-size: 1.25em;}
    .price-num{text-align: right;}
    .order-goods-row{border-bottom: thin #f2f2f2 solid; padding: 5px 0px}
    .del-button-box{text-align: right;padding: 5px;width: 100%}
    #orderState{color: #f22;}
    .total{color: #969696;text-align: left;display: inline-block;}   
    .noForm{width: 200px;margin: 50px auto;}   
    .iconfont-dis{padding: 20px;text-align: center;width: 100%;}
    .suibianguangguang{text-align: center;width: 100%;}
</style>
