<table class="table table-bordered table-striped table-hover">
    <thead>
            <tr>
                    <th>订单编号</th>
                    <th>用户昵称</th>
                    <th>下单时间</th>
                    <th>支付时间</th>
                    <th>收货时间</th>
                    <th>商品总数</th>
                    <th>订单总额</th>
                    <th>备注</th>
                    <th>操作</th>
            </tr>
    </thead>
    <tbody>
            <foreach name="finished" item="value" key="key">
            <tr>
                <td>{$value.id}</td>
                <td>{$value.customer.nickname}</td>
                <td>{$value.buy_time|date="y/m/d H:i",###}</td>
                <td>{$value.pay_time|date="y/m/d H:i",###}</td>
                <td>{$value.finish_time|date="y/m/d H:i",###}</td>
                <td>{$value.goodsQuantity}</td>
                <td>{$value.total_prices|format_money}</td>
                <td>{$value.remarks}</td> 
                <td>
                    <a href="{$value.url.detail}">
                        <button class="btn btn-mini btn-primary" type="button">
                            查看详情
                        </button>
                    </a>
                 </td>
            </tr>
            </foreach>
    </tbody>
</table>
<div class="pagination">{$page}</div>