<!DOCTYPE html>
<!--
梦云智工作室
 
-->
<table class="table table-bordered table-striped table-hover">
    <thead>
            <tr>
                    <th>订单编号</th>
                    <th>用户昵称</th>           
                    <th>国际物流单号</th>
                    <th>发货时间</th>
                    <th>商品总数</th>
                    <th>备注</th>
                    <th>操作</th>
            </tr>
    </thead>
    <tbody>
            <foreach name="inter" item="value" key="key">
            <tr>
                <td>{$value.id}</td>
                <td>{$value.customer.nickname}</td>
                <td>{$value.international_orderid}</td>
                <td>{$value.shipments_time|date="y/m/d H:i",###}</td>
                <td>{$value.goodsQuantity}</td>
                <td>{$value.remarks}</td>
                <td>
                    <a href="{$value.url.detail}">
                        <button class="btn btn-mini btn-primary" type="button">
                            查看详情
                        </button>
                    </a>
                    <a href="{$value.url.finish}">
                        <button class="btn btn-mini btn-success" type="button">
                            完成
                        </button>
                    </a>
                    <a href="{$value.url.cancel}">
                        <button class="btn btn-mini" type="button">
                            取消
                        </button>
                    </a>
                 </td>
            </tr>
            </foreach>
    </tbody>
</table>
<div class="pagination">{$page}</div>