
<style>
    body{background-color: #f2f2f2;}
    .list-group-item-table{width: 100%}
    #idno{width: 80%;  border-radius: 3px;}
    .address-right{position: absolute;  right: 5%;  vertical-align: middle;  top: 50%;  margin: -0.6em 0 0 -0.6em;}
    .btn-color{background-color: #ff4a00;color: #fff;width: 100%;}
    .btn-color:hover{color: #fff}
    .col-right{width: 40%;text-align: right;vertical-align: middle;}
/*    .list-group a{background-color: #f2f2f2}*/
    #img-rounded{margin-top: 5px}
    .col-right2{text-align: right}
    .col-right1{text-align: right;padding-right:10px;}
    .col-right0{}
    .couponAll{height:100px;overflow: auto;}
    .goods-info{width: 100%;}
    table{width: 100%}
    .head_box{margin-top: 6em}
    .b{display: block;}
    .xingyannian{font-family: "微软雅黑";color: #000;font-size: 1em}
    list-group-item-table{border: 0px;}
    .address-btn,.address-btn:hover,.address-btn:link{position:relative;display:block;padding:10px 15px;margin-bottom:-1px;color:#555; }
    .guodu{ height: 11px;background: url( '{$guoduUrl}') repeat-x;}
    .img-rounded{width: 150%}
    .row-bg{background-color: #fff;}
    .row-goods{padding-bottom: 10px;}
    .zidingyi{text-align: right;}
    .row-space{height: 8px;}
    .miaoshu{padding-right: 0px;}
    .yunfeishuoming,.daijinquan{text-align: right;}
    .daijinquan a{color: #ff0000}
    .row-item{padding-top: 10px;}
    .hide1{display: none;}
    .checkbox{padding-left: 25px}
    label{vertical-align: middle;} 
    .footer{
        background-color: #555;
        line-height: 55px;
        text-align: left;
        color:#fff;
    }
    .footer .submit{
        margin-top:8px;
        margin-bottom: 10px;
    }
    .in-pic
    {
        padding-right:0px;
    }
    .popover,.popover h3
    {
        font-size:12px;
    }
    .pending-detial h2{border-bottom: 1px dotted #999;}
    .line{width:96%;border-bottom: 1px dotted #999;padding: 0px 10px 10px;margin: 0px 10px 10px;}
    .coupon1{padding-bottom: 10px}
    .coupon0{padding-bottom: 10px;margin-left: 4px;}
    .border{padding-top: 10px;margin-bottom: 15px;}
    .col-xs-8 p{line-height: 45px;}
    .freight1{padding-left: 0px;}
    
    .address{
        padding-top:15px;
        padding-bottom:15px;
    }
</style>