{$css}
<h4><a href="{$listCustomerUrl}">重新抓取客户信息</a></h4>
<table class="table table-bordered table-striped table-hover">
  
        <thead>
            <tr>
                <th class="width">昵称</th>
                <th class="width">直销业绩</th>
                <th class="width">下线业绩</th>
                <th class="width">业绩汇总</th>
                <th class="width">关注时间</th>
                <th class="width">上线用户姓名</th>
                <th class="width">用户手机号</th>
                <th class="width">操作</th>
            </tr>
        </thead>
        <tbody>
                 <php>$i=1;</php>
                <foreach name="customer" item="value" key="key">
                <tr>
                <td><a onclick="#" href="{$value.actionUrl.look}">{$value.nickname}</a></td>
                <td><php>echo format_money($achievement[$key]['totalGoodsFee']);</php></td>
                <td><php>echo format_money($achievement[$key]['_line']['totalGoodsFee']);</php></td>
                <td><php>echo format_money($achievement[$key]['_line']['totalGoodsFee']+$achievement[$key]['totalGoodsFee']);</php></td>
                <td>{$value.subscribe_time|date="y/m/d H:s",###}</td>
                <td><a onclick="#" href="{$value.actionUrl.parent_look}">{$value._parentname.nickname}</a></td>
                <td>{$value.phone_number}</td>
                <td>
                <a onclick="#" href="{$value.actionUrl.edit}">
                    <button class="btn btn-mini btn-primary" type="button">
                        修改
                    </button>
                </a>
                <a onclick="#" href="{$value.actionUrl.change}">
                    <button class="btn btn-mini btn-warning" type="button">注册</button>
                </a>
                    <a href="{$value.actionUrl.freezen}">
                        <button class="btn btn-mini <eq name="value.freezen_state" value="0"><else/>btn-warning</eq>" type="button"><eq name="value.freezen_state" value="0">冻结<else/>解冻</eq></button>
                    </a>
                </td>
                </tr>
                </foreach>
        </tbody>
</table>
<div class="pagination" align="center">{$page}</div>
