<style>
    .tips{
        display:none;
    }
    p{
        height: 10px;
    }
    .tip{
        
        color: red;
        font-size: 18px;
        margin-left: 10px;
    }
</style>
<form id="UserEditForm" class="form-horizontal" name="UserEditForm" method="post" action="{$User.actionUrl.update}" />
<fieldset>
    <php></php>
    <legend> 修改密码</legend>
    <eq name="Think.const.ACTION_NAME" value="edit">
    <input type="hidden" name="id" value="{$User['userid']}"/>
    </eq>
    <div class="control-group">
        <label class="control-label" for="userid">用户名</label>
        <div class="controls">
            <input type="hidden" name='userid' id="userid" value="{$User.userid}" />
            <span>{$User.userid}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">原密码</label>
        <div class="controls">
            <input type="password" name='original' id="original"  /><span class='tip'>*</span>
            <span class="offo tips" >原密码不能为空</span> <span class="error tips">原密码错误</span>
        </div>

    </div>

    <div class="control-group">
        <label class="control-label" for="name">新密码</label>
        <div class="controls">
            <input type="password" name='password' id="password"/><span class='tip'>*</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">重复新密码</label>
        <div class="controls">
            <input type="password" name='repeat' id="repeat" /><span class="off tips">两次密码不相同</span><span class='tip'>*</span>
        </div>
    </div>


    <div class="form-actions">
        <button type="button" onclick="check($(this))" class="btn btn-primary">保存</button> <button class="btn" type="button" onclick="location = '{$url}'">取消</button>
    </div>
</fieldset>
</form>

<script>
    function check($this) {
        $(".tips").hide();
        var id = $("#userid").attr('value');
        var pas = $("#password").val();
        var rep = $("#repeat").val();
        var ori = $("#original").val();
        if (pas == rep) {
            if (ori == '') {
                $(".offo").show();
                return;
            }
        } else {
            $(".off").show();
            return;
        }
        $.post(
                "{$urlU}",
                {userid:id,opwd: ori, password: pas},
                function(data, state) {
                if (data == 'error')
                    $(".error").show();
                else
                {
                    if(data == 'success')
                    {
                        location.href="{$url}";
                    }
                }
            });
    }
</script>
