<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<script  type="text/javascript">
    
       $(document).ready(function(){
          $("#UserEditForm").validate({
              rules:{
                  name:{
                      required:true, minlength:2
                  },
                  email:{
                      required:true, email: true
                  },
                  phone:{
                      required:true, length:11
                      
                  },
                  
              }
              
          });
        
    });
   
</script>
  