<a href="{$actionUrl}"><h4>添加物流方式</h4></a>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>序号</th>
            <th>物流方式</th>
            <th>物流代码</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <php>$i=1;</php>
    <foreach name="Log" item="value" >
        <tr>
            <td>{$i++}</td>
            <td>{$value['name']}</td>
            <td>{$value['mode']}</td>  
            <td>
                <a onclick="#" href="{$value.actionUrl.edit}">
                    <button class="btn btn-mini btn-primary" type="button">
                        修改
                    </button>
                </a>
                <a onclick="#" href="{$value.actionUrl.delete}">
                    <button class="btn btn-mini btn-danger" type="button">
                        删除
                    </button>
                </a>
            </td>
        </tr>
    </foreach>
</tbody>
</table>
<div class="pagination">{$page}</div>

