<script>
    function onFreight()
    {
        $("#freight").toggle(500);
    }
    function selCoupon($this)
    {
        var nowcoupon = $("#ECS_BONUS").attr("data-value");//现在的优惠券
        var deal = $("#deal").attr("data-value");//应付金额
        var fvorable = $("#totalFvorable").attr("data-value");//总优惠额
        var coupon = $this.attr("data-value");//优惠券面额
        var totalFvorable = parseInt(fvorable) + parseInt(coupon) - parseInt(nowcoupon);//总优惠-优惠券
        var totalDeal = parseInt(deal) - parseInt(coupon) + parseInt(nowcoupon);//应付金额-优惠券
        $this.attr("data-value",coupon);
        $("#ECS_BONUS").attr("data-value",coupon);
        $("#totalFvorable").attr("data-value",totalFvorable);
        $("#totalFvorable").html(format_money(totalFvorable));
        $("#deal").attr("data-value",totalDeal);
        $("#deal").html(format_money(totalDeal));
        
    }
    function delCoupon()
    {
        var nowcoupon = $("#ECS_BONUS").attr("data-value");//现在的优惠券
        var deal = $("#deal").attr("data-value");//应付金额
        var fvorable = $("#totalFvorable").attr("data-value");//总优惠额
        var nowdeal = parseInt(nowcoupon) + parseInt(deal);//现在优惠加应付金额
        var coupon = parseInt(fvorable) - parseInt(nowcoupon);//总优惠-现在优惠
        $("#ECS_BONUS").attr("data-value","0");
        $("#deal").attr("data-value",nowdeal);
        $("#deal").html(format_money(nowdeal));
        $("#totalFvorable").attr("data-value",coupon);
        $("#totalFvorable").html(format_money(coupon));
    }
    /**
     * 将以分为单位的数字进行货货格式化
     * @param num 数值(Number或者String)
     * @num 12343242324
     * @return 金额格式后的字符串:123,432,423.24
     * @type String
     * 1.先判断位数.如果为1则前面0.0
     * 如果为2,则前面补0.
     * 如果3位以上,以进行格式化
     */
    function format_money(num) {
        var num = num.toString().replace(/\$|\,/g, '');
        if (isNaN(num))
            return '0.00';
        if (num.length > 2)
        {
            //截取分
            var cents = num.substring(num.length - 2, num.length);
            //取元
            num = Math.floor(num / 100).toString();
            for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
                num = num.substring(0, num.length - (4 * i + 3)) + ',' +
                        num.substring(num.length - (4 * i + 3));
            var res = (num + '.' + cents);
            return res;
        }
        else
        {
            if (num.length == 2)
            {
                return '0.' + num;
            }
            else
            {
                return '0.0' + num;
            }
        }
    }
    function update()
    {
        var ids = new Array();
        var counts = new Array();
        
        $(".first clearfix").map(function(){
            ids.push($(this).attr("data-id"));
            counts.push($(this).attr("data-count"));
        });
       var cId = $("#ECS_BONUS").attr("data-id");
       $url = "{$url}";
       $url = $url + "?ids=" + JSON.stringify(ids) + "&counts=" + JSON.stringify(counts) + "&couponId="+cId;
       $("#Submit").attr("href",$url);
    }
</script>