
<style>
    .card-btn{width: 30%;background-color:#EAEAEA }
    a:hover,a:visited,a:link{text-decoration: none;}
    .btn-save:link ,.btn-save:visited,.btn-save:hover,.btn-save{width: 100%;background-color: #F40;color: #fff;}
    body{background-color: #f2f2f2;font-family: "微软雅黑";}
    a{color: #000;text-decoration: none;}
    table{width: 100%;}
    .content {background-color: #f2f2f2;width: 100%;padding: 5px;}
    .list-address-item{background-color: #fff;list-style: none;margin-bottom: 1em;}
    .choosed{background: url("./image/ok.png") no-repeat;}
    .icon-state{height: 16px;width: 16px;display: inline-block;}
    .icon-add{background: url("./image/edit_add.png") no-repeat;height: 16px;width: 16px;display: inline-block;}
    .col1{padding: 0px 5px;width: 20px;}
    .dis{padding: 5px;}
    .num-address{text-align: right;color: #999999;}
    .col3{text-align: right;}
    .btn-zhuce,.btn-zhuce:hover,.btn-zhuce:link{width: 100%;background-color: #F40;color: #fff;}
    .form-group{width: 100%}
    .btn-zhenfan{width: 100%;}
    .list-group .list-group-item a{background-color: #fff}
    .bian{padding: 10px 0px; margin-left:15px; margin-right: 15px;border-top: 4px solid #f2f2f2; border-bottom:4px solid #f2f2f2;}
    .bian1{ padding: 10px 0px; margin-left:15px; margin-right: 15px; border-bottom:4px solid #f2f2f2;}
    .yang{font-color:#f2f2f2; border:0px; font-size: 12px; display: inline; float: left;}
    body{ background-color: white;}
    .control-label{line-height: 29px;}
    .yz-tips{height:200px;}
    .addressEdit input{border:0px;border-radius: 0px;}
    .addressEdit .row{border-top:8px solid #f2f2f2;}
    .addressEdit .description{background-color: #f2f2f2;padding-top:5px;padding-bottom:50px;}
    .addressEdit .ids{
        min-height: 50px;
        line-height: 50px;
    }
</style>